body {
    background-size: 80%;
    background-color: whitesmoke;
}
header, h1{
    float:inherit;
    color:rgb(201, 172, 134) ;
    text-align: center;
    font-family: 'Licorice', cursive; 
    font-size: 100px;
    position: relative;
    top: 0;
}
.navbar{
    position: fixed; 
    background-color: black;
    width:85%;
    left: 165px;
    right: 165px;
    top: 50;
    border-radius: 25px; 
}
.searchbar{
    position: relative;
    left: 85%;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    outline: none;
}
.home{
    position: relative;
    left: 5%;
    color: white;
    text-decoration: none;
    font-family: 'Licorice', cursive;
}
.products{
    left: 30%;
    position: relative;
    color: white;
    text-decoration: none;
    font-family: 'Licorice', cursive;
}
.locations{
    left: 55%;
    position: relative;
    color: white;
    text-decoration: none;
    font-family: 'Licorice', cursive;
}
.account{
    left: 80%;
    position:relative;
    color: white;
    text-decoration: none;
    font-family: 'Licorice', cursive;
}
.home:hover{
   font-size: 250% ;
    color: burlywood;
}
.products:hover{
    font-size: 250% ;
    color:burlywood;
}
.locations:hover{
    font-size: 250% ;
    color:burlywood;
}
.account:hover{
    font-size: 250% ;
    color:burlywood;
}