body {
    background-color: white;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
header h1 {
    display: inline-block ;
    position: static;
    font-size: 250%;
    font-family: 'Licorice', cursive ;
    color: black;
}
.navbar {
    font-size: 15px;
    display:flex;
    position: fixed;
    width:100%;
    margin:0 auto;
    justify-content:space-around;
    background-color: whitesmoke;
    align-items: center;
}
nav a {
    font-family: monospace;
    color:black;
    text-decoration: none;
    padding: 15px 0px;
}
nav a:hover{
    color: rgb(221, 164, 88);
    border-bottom: 1px solid black;
}
main { 
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(250, 228, 207, 0.884);    
}
main p {
    position: static;
    font-weight: bold;
    padding: 100px 0;
    margin: 15px 10px;
    font-family: 'Finger Paint', cursive;
}
span {
    font-family: 'Finger Paint', cursive;
    font-size: x-large;
}

.img1{
    position:static;
    margin:10px 10px;
    padding: 10px 10px;
    float: left;
    width: 425px;
    height: 500px;
}
.img2{
    position: static;
    margin:10px 10px;
    padding: 10px 10px;
    float: right;
    width: 425px;
    height: 500px;
}
.img3{
    position: static;
    margin: 20px 10px;
    padding: 20px 10px;
    float:center;
    width:auto;
    height:500px;
}

table{
    justify-content:space-around;
    margin: 0 auto;
}
table caption{
    font-family: 'Finger Paint', cursive;
}
thead, th, tbody, td{
    position:relative;
    padding: 15px;
}