body {
    background-color: rgb(238, 238, 238);
}


.navBar {
    display:flex;
    position: fixed; 
    background-color: rgb(180, 180, 230);
    width:85%;
    margin:0 7.5%;
    justify-content: space-around;
    align-items: center;
    top: 25;
    border-radius: 25px;
}
nav a {
    padding:10px 0px;
    text-decoration: none;
}
nav a:hover {
    color: black;
    text-decoration: underline;
}


main {
    padding-top: 50px;
}


.blogPost {
    display: inline-block;
    background-color: white;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    text-size-adjust: smaller;
}
.blogPost h3 {
    position:relative;
    font-size:x-large
}
.blogPost span {
    position:relative;
    font-size: smaller;
}


.imgDisplay {
    float: left;
    height: 225px;
    width: 350px;
    padding: 15px;
}